<form method="POST" role="form">
    <h3 id="formtitle">Add member</h3>
    <div id="alert"></div>
    <fieldset id="required">
        <legend>Required Information</legend>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" name="firstname" value="<%= model.get('firstname') %>"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" name="lastname" value="<%= model.get('lastname') %>"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" value="<%= model.get('email') %>"/>
        </div>
    </fiedlset>
    <fieldset id="additional">
        <legend>Additional Information</legend>
        <div class="form-group">
            <label>Street Address</label>
            <input class="form-control" type="text" name="address" value="<%= model.get('address') %>"/>
        </div>
        <div class="form-group">
            <label>City, State Zip</label>
            <input class="form-control" type="text" name="address2" value="<%= model.get('address2') %>"/>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="text" name="phone" value="<%= model.get('phone') %>"/>
        </div>
        <div class="form-group">
            <label>Alt Phone</label>
            <input class="form-control" type="text" name="altphone" value="<%= model.get('altphone') %>"/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label >Birth Date</label>
                    <div class="input-group" id="birthdatepicker">
                        <input class="form-control" type="text" name="birthdate" value="<%= model.dateAsString('birthdate') %>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Profile Picture</legend>
        <div class="form-group">
            <label for="attachedfile">File Name</label>
            <input type="file" id="picture">
        </div>
    </fieldset>
    <div class="form-actions">
        <a id="save-button" class="btn btn-primary">Save changes</a>
        <a id="cancel-button" class="btn btn-default">Cancel</a>
    </div>
</form>
<div class="row status-bar">
    <div class="span9">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Record saved successfully
        </div>
    </div>
</div>
