<div class="btn-toolbar pull-right">
</div>
<h3><%= getAttr('title') %></h3>
<h4><%= getDateAttr('itemdate') %></h4>
<p><%= getAttr('text') %></p>
<p>Attached file: <a href="<%= getFileUrl() %>"><%= getAttr('attachedfile') %></a>
